/* ОПРЕДЕЛЕНИЕ СТИЛЕЙ ТЕГОВ */
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 13px;
	line-height: 15px;
}
table{
	border-collapse: collapse;
	width: inherit;
}
th{
	padding: 5px;
	background-color: #EEEEEE;
}
td{
	padding: 5px;
	vertical-align: inherit;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none none inside;
}
img{
	border: none 0px black;
}
textarea{
	padding: 5px;
	font-family: inherit;
}
a{
	color: #3763FB;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

/* ОПРЕДЕЛЕНИЕ ЧАСТОИСПОЛЬЗУЕМЫХ КЛАССОВ */

.clear {
	clear: both;
}
.real-list li{
	list-style: none square outside;
	margin: 14px 15px;
}
.inline{
	display: inline;
	margin: 0px;
	padding: 0px;
}
.simple-text{
	font-weight: normal;
	text-decoration: none;
	font-size: 13px;
}
.red{
	color: red;
}
.green{
	color: green;
}
.grey,
a.grey{
	color: #999999 !important;
}
.small{
	font-size: 11px;
}
.paragraph{
	margin: 1em 0;
}

/* ИНФОРМАЦИОННЫЕ СООБЩЕНИЯ */

.vik-user-message{
	padding: 10px;
	margin: 5px;
	font-size: 13px;
}
.vik-user-message.success{
	border: solid 2px #00cc00;
	background-color: #eeffee;
}
.vik-user-message.info{
	border: solid 2px #0000cc;
	background-color: #eeeeff;
}
.vik-user-message.error{
	border: solid 2px #cc0000;
	background-color: #ffeeee;
}
.vik-user-message .detail{
	margin: 5px 15px 5px;
	font-size: 12px;
	font-style: italic;
}

/* JQUERY VALIDATE */

label.error{
	color: red;
	display: block;
	background-color: #FFF;
	padding: 1px 5px;
}

table.sql-dump{
	margin: auto;
	text-align: center;
}
table.sql-dump td{
	padding: 2px 10px;
	text-align: left;
}

table.php-page-statistics{
	text-align: center;
	background-color: white;
}
table.php-page-statistics th{
	padding: 2px 10px;
	text-align: center;
	font-weight: normal;
	background-color: #EEE;
	border: solid 1px #DDD;
}
table.php-page-statistics tr.section th{
	font-weight: bold;
	background-color: #DDD;
}
table.php-page-statistics td{
	padding: 2px 10px;
	text-align: left;
	border: solid 1px #DDD;
}
table.php-page-statistics tr.b td{
	font-weight: bold;
}

.long-inputs input[type="text"],
.long-inputs input[type="password"]{
	width: 95%;
}
