
/* ФРЕЙМ */

body{}
* html #site-container {
	height: 100%;
}
#site-container {
	position: relative;
	width: 1000px;
	margin: 0px auto;
	min-height: 100%;
	border-left: solid 1px #E8E8E8;
	border-right: solid 1px #E8E8E8;
	background-color: #FFF;
}
#top{
	padding: 5px 5px 0px;
	border-bottom: solid 1px #E8E8E8;
	margin-bottom: 2px;
	overflow: hidden;
}
#top-logo{
	float: left;
	display: block;
	width: 458px;
	height: 162px;
	background: url('images/logo.png') center center no-repeat;
	margin: 15px 10px 15px;
}
#top-right{
	float: right;
	margin: 20px 0px 15px;
	border: solid 1px #E8E8E8;
}
#login-block{
	padding: 0px 10px;
}
#login-block h3{
	text-align: center;
}
#login-block td{
	padding: 1px 4px;
}
#login-block input.text{
	width: 150px;
	font-size: 12px;
	border: solid 1px #E8E8E8;
}
#login-block input.submit{
	display: inline-block;
	margin-top: 8px;
}
#login-block .bottom-text{
	margin: 10px 0px 10px;
	padding: 0px 10px;
}
#login-block .left-text{
	float: left;
}
#login-block .right-text{
	float: right;
}
#logged-block{
	margin: 10px;
}
#top-menu{

}
#body-left{
	float: left;
	width: 220px;
}
#body-center{
	margin-left: 220px;
	margin-bottom: 5px;
	border: solid 1px #E8E8E8;
	border-right-style: none;
}
#top-menu{
	border-bottom: solid 1px #E8E8E8;
}
#top-menu a{
	display: inline-block;
	position: relative;
	color: #5A7184;
	border-bottom: solid 3px #FFF;
	margin: 0px 5px;
	padding: 5px;
}
#top-menu a:hover{
	border-bottom: solid 3px #3763fb;
	text-decoration: none;
}
#top-menu a.active{
	border-bottom: solid 3px #3763fb;
}

#footer-container {
	height: 90px;
}
#footer {
	margin: -90px auto 0;
	position: relative;
	width: 1000px;
	height: 90px;
	text-align: center;
	font-size: 12px;
	border-top: solid 1px #E8E8E8;
}


/* ССЫЛКИ НОМЕРОВ СТРАНИЦ */

.pagination{
	margin: 1em 0em;
	text-align: center;
}
.pagination a{
	padding: 0px 3px 0px;
}
.pagination .prev{}
.pagination .next{}
.pagination .page{}
.pagination .active{
	font-size: 110%;
	padding: 0px 3px 0px;
	background-color: #EEEEEE;
}


/* СТИЛИЗОВАННЫЕ КНОПКИ */

input.button, button.button, a.button{
	cursor: pointer;
	display: inline-block;
	padding: 2px 6px;
	border: solid 1px #999;
	background-color: #E5E5E5;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	text-decoration: none;
	color: #000;
}
input.button:hover, button.button:hover, a.button:hover{
	border-style: outset;
	background-color: #DDD;
}
input.button:active, button.button:active, a.button:active{
	border-style: inset;
	background-color: #EEE;
}


/* ТАБЛИЦА ФОРМЫ РЕГИСТРАЦИИИ */

table.reg-box{
	border-style: none;
	margin: 10px auto 20px;
}
table.reg-box td{
	padding: 5px 5px;
	border-style: none;
	vertical-align: bottom;
}
table.reg-box td.left{
	font-size: 13px !important;
}
table.reg-box .required{
	color: red;
}
table.reg-box .input{
	width: 100%;
}
table.reg-box label.error{
	display: block;
	color: red;
	padding-left: .5em;
	font-size: 12px;
}
table.reg-box input.error{
	border: dashed 1px #FF7373;
	background-color: #FFF0F0;
}
table.reg-box input.valid{
	border: dashed 1px #33FF33;
	background-color: #F2FFF2;
}
div.captcha-box{
	float: left;
	border: solid 1px #c0c0c0;
	background-color: #f7f8fa;
	text-align: center;
	padding: 5px 10px 2px;
}

div.captcha-box img{
	border: solid 1px #c0c0c0;
}

div.captcha-box a{
	display: block;
	font-size: 11px;
	
}
div.captcha-input{
	float: left;
	margin-left: 10px;
	margin-top: 53px;
}
